body{
	color: orange;
	font-family: Arial, Helvetica, sans-serif;
	touch-action: manipulation;
}
#SOLVE:hover{
	background-color: #0c0;
	box-shadow: 2.5px 7px 10px;
}
#SOLVE:active{
	background-color: #0a0;
	transform: translateY(3px);
	box-shadow: 3px 4px 10px;
}
h{
	font-size: 50px;
}
video{
	image-rendering: pixelated;
	width: 500px;
	height: 500px;
}
#speed{
	-webkit-appearance: none;
	background: transparent;
	width: 100%;
	height: 5vh;
	grid-column: 1/-1;
	display: block;
}
#speed::-webkit-slider-runnable-track{
	border: 1px solid black;
	background-color: lightblue;
	height: 3vh;
	border-radius: 3vh;
}
#speed::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: orange;
	height: 100%;
	width: auto;
	aspect-ratio: 3/1;
	border-radius: 16.67% / 50%;
}
table{
	border-spacing: 0px;
	table-layout: fixed;
}
.o{
	background-color: orange;
}
.g{
	background-color: green;
}
.w{
	background-color: white;
}
.b{
	background-color: blue;
}
.y{
	background-color: yellow;
}
.r{
	background-color: red;
}
td{
	border-radius: 10%;
}
#input-text{
	font-family: monospace;
	grid-column: 1/-1;
	font-size: 2.5vh;
}
#SOLVE{
	border-radius: 40px;
	background-color: lime;
	font-size: min(6vh, 10vw);
	transition-duration: 0.25s;
	grid-column: 1/-1;
}
#controls div{
	background-color: orange;
	color: black;
	border-radius: 2vh;
	width: min(20vh, 100%);
}
#controls div img{
	height: 100%;
	width: 100%;
}
#controls{
	height: 25vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	column-gap: 2%;
	background-color: #444;
	border-radius: 3vh;
	justify-content: space-between;
	justify-items: center;
	grid-area: ctrl;
}
#cbcontainer{
	display: flex;
	position: relative;
	grid-area: cbco;
	align-items: center;
}
#yay{
	width: 100%;
	display: block;
	grid-area: yay;
	font-size: min(5vh, 3vw);
	text-decoration: underline;
	text-align: center;
}
#progress{
	background-color: red;
	z-index: 1;
	height: 5vh;
	grid-area: prog;
	border-radius: 2.5vh;
	position: relative;
	width: 100%;
}
#progressval{
	font-size: 4vh;
	margin-left: 50%;
	position: absolute;
	transform: translate(-50%, 0);
}
#bar{
	background-color: green;
	width: 0%;
	z-index: 2;
	height: 100%;
	border-radius: 2.5vh;
	float: left;
}
#tada{
	height: 100%;
	width: 100%;
	line-height: 104%;
	overflow: hidden;
	white-space: nowrap;
	font-family: monospace;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cb{
	height: min(50vw, 100%);
	aspect-ratio: 1/1;
}
@media (min-aspect-ratio: 15/10){
	#partb{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content 1fr min-content min-content;
		grid-template-areas: "yay yay" "cbco tada" "cbco ctrl" "prog prog";
		column-gap: 5px;
		row-gap: 5px;
		height: 100vh;
		width: 100vw;
		justify-items: center;
	}
}
@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 15/10) and (not (aspect-ratio: 4/5)){
	#controls{
		grid-row: 3;
		grid-column: 1/-1;
	}
	#partb{
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-template-rows: min-content 1fr min-content min-content;
		grid-template-areas: "yay yay" "cbco tada" "ctrl ctrl" "prog prog";
		column-gap: 5px;
		row-gap: 5px;
		height: 100vh;
		width: 100vw;
	}
}
@media (max-aspect-ratio: 4/5){
	#partb{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content 1fr min-content min-content;
		grid-template-areas: "yay" "cbco" "tada" "ctrl" "prog";
		column-gap: 5px;
		row-gap: 5px;
		height: 100vh;
		width: 100vw;
		justify-items: center;
	}
	#cb{
		height: min(100vw, 45vh);
		aspect-ratio: 1/1;
	}
}
@media (min-aspect-ratio: 19/10){
	#parta{
		display: grid;
		row-gap: 5px;
		column-gap: 5px;
		grid-template-columns: min-content 1fr 1fr;
		grid-template-rows: 8vh 4vh auto 7.5vh;
		height: 100vh;
	}
	#grid{
		height: 100%;
	}
	#stats{
		font-family: monospace;
		height: 100%;
		overflow: auto;
		line-height: 100%;
		text-align: left;
	}
	#top{
		grid-column: 1/4;
		font-size: 1.5vw;
		height: min(8vh, 7.5vw);
	}
	#otherStuff{
		float: left;
		position: relative;
		left: 50px; 
		width: 40vw; 
		height: 40vw;
		display: none;
	}
	#palette{
		display: table;
		width: 100%;
		height: auto;
	}
	#palette2{
		display: none;
	}
}
@media (min-aspect-ratio: 15/10) and (max-aspect-ratio: 19/10){
	#parta{
		display: grid;
		row-gap: 5px;
		column-gap: 5px;
		grid-template-columns: auto auto;
		grid-template-rows: 8vh 4vh min-content auto 7.5vh;
		height: 100vh;
	}
	#grid{
		height: 100%;
		grid-row: 3 / 5;
	}
	#palette2{
		display: table;
		width: 100%;
		height: auto;
		grid-row: 4;
	}
	#palette{
		display: none;
	}
	#top{
		grid-column: 1/4;
		font-size: 1.5vw;
		height: min(8vh, 7.5vw);
	}
	#stats{
		font-family: monospace;
		overflow: auto;
		line-height: 100%;
		font-size: 1.75vw;
		text-align: left;
		grid-row: 3;
	}
	#otherStuff{
		float: left;
		position: relative;
		left: 50px; 
		width: 40vw; 
		height: 40vw;
		display: none;
	}
}
@media (min-aspect-ratio: 9/10) and (max-aspect-ratio: 15/10){
	#parta{
		display: grid;
		row-gap: 5px;
		column-gap: 5px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 8vh 4vh min-content auto 7.5vh;
		height: 100vh;
	}
	#grid{
		width: 100%;
		grid-row: 3;
		grid-column: 1/2;
	}
	#palette2{
		display: table;
		width: 100%;
		height: auto;
		grid-row: 4;
		grid-column: 1/3;
	}
	#palette{
		display: none;
	}
	#top{
		grid-column: 1/3;
		font-size: 1.5vw;
		height: min(8vh, 7.5vw);
	}
	#stats{
		font-family: monospace;
		height: 100%;
		overflow: auto;
		line-height: 100%;
		font-size: 1.75vw;
		text-align: left;
		grid-row: 3 / 4;
		grid-column: 2;
		width: 100%;
	}
	#otherStuff{
		float: left;
		position: relative;
		left: 50px; 
		width: 40vw; 
		height: 40vw;
		display: none;
	}
}
@media (min-aspect-ratio: 3/5) and (max-aspect-ratio: 9/10){
	#parta{
		display: grid;
		row-gap: 5px;
		column-gap: 5px;
		grid-template-columns: auto auto;
		grid-template-rows: 8vh 4vh min-content auto 7.5vh;
		height: 100vh;
	}
	#grid{
		width: 100%;
		grid-row: 3;
		grid-column: 1/3;
	}
	#palette2{
		display: none;
	}
	#palette{
		display: table;
		width: 100%;
		height: auto;
		grid-row: 4;
		grid-column: 2;
	}
	#top{
		grid-column: 1/3;
		font-size: 1.5vw;
		height: min(8vh, 7.5vw);
	}
	#stats{
		font-family: monospace;
		overflow: auto;
		line-height: 100%;
		font-size: 1.75vw;
		text-align: left;
		grid-row: 4;
		grid-column: 1;
		height: 100%;
	}
	#otherStuff{
		float: left;
		position: relative;
		left: 50px; 
		width: 40vw; 
		height: 40vw;
		display: none;
	}
}
@media (max-aspect-ratio: 3/5){
	@media (min-aspect-ratio: 4/10){
		#parta{
			display: grid;
			row-gap: 5px;
			column-gap: 5px;
			grid-template-columns: auto;
			grid-template-rows: 8vh 4vh min-content 3fr 2fr 7.5vh;
			height: 100vh;
		}
	}
	@media (max-aspect-ratio: 4/10){
		#parta{
			display: grid;
			row-gap: 5px;
			column-gap: 5px;
			grid-template-columns: auto;
			grid-template-rows: 8vh 4vh min-content min-content auto 7.5vh;
			height: 100vh;
		}
	}
	#grid{
		width: 100vw;
		grid-row: 3;
		grid-column: 1;
	}
	#palette2{
		display: table;
		width: 100%;
		height: auto;
		grid-row: 5;
		grid-column: 1;
		min-height: 10vh;
	}
	#palette{
		display: none;
	}
	#top{
		grid-column: 1;
		font-size: 1.5vw;
		height: min(8vh, 7.5vw);
	}
	#stats{
		font-family: monospace;
		overflow: auto;
		line-height: 100%;
		font-size: 1.75vw;
		text-align: left;
		grid-row: 4;
		grid-column: 1;
	}
	#otherStuff{
		float: left;
		position: relative;
		left: 50px; 
		width: 40vw; 
		height: 40vw;
		display: none;
	}
}
